body {
    background-color: RGB(245, 132, 39);
}

#submitBtn {
    background-color: RGB(245, 132, 39);
    color: white;
    border-radius: 12px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}